h1 {
	color: #333;
	margin-bottom: 18px;
	text-align: left;
	font-family: "Roboto";
	font-size: 30px;
	font-weight: bold;
	margin:0 !important;
	line-height: 36px;}

.page-title {margin-bottom: 18px;}

/*.container {width:1170px;}*/
.p1 {
	text-align: justify;
	margin: 0 0 10px;
	font-family: "Roboto";
	font-size: 14px;}

h4 {
	font-size: 18px;
    line-height: 20px;
	font-weight: bold;
    margin-bottom: 18px;
	text-align: left;}

img {max-width: 100%}

a:hover {
	color: #070401;
}
a {
	color: #169fe6;
	text-align: center;
	font-weight: bold;
}
.one-vyst {
	margin: auto;
	text-align: center;

}
.button{
	color:#ffffff;
	background-image: linear-gradient(to bottom, #3F7FBA, #2D5C88);
    background-repeat: repeat-x;
    font-size: 0.8em;
}
.div-btn {
	text-align: center;
	margin-top: 10px;
}
.btn {width: 100%;}

.slider, .slides {
	height: 200px !important;
	}

.slider, .slides li {
	height: 100% !important;
	}

.slider.slidemodal {
	min-height: 500px !important;
	/*height: auto !important; /*400px !important;*/
}


button.nextNavButton, button.prevNavButton, button.close {
	
    background-image: linear-gradient(to bottom,#1cb9ed,#0e7cdd);
	width: 26px;
	height: 26px;
	border:0px;
	color: #ffffff;
	margin-left: 3px;
	text-align: center;
	display: inline-block;
	
	top: 50%;
    z-index: 2;
    float: right;
    margin-top: 8px;
    position: relative;
}

button.nextNavButton:hover, button.prevNavButton:hover, button.close:hover {
	background-image: linear-gradient(to bottom, #3F7FBA, #2D5C88);
}

button.prev {
	position: relative;
	float: left;
	margin-left: -5px;
	z-index: 5000;
	height: 40px;
	width: 40px;
	margin-top: 30px;
}

button.next{
	height: 40px;
	width: 40px;
	margin-top: 30px;

}

button.close{
	height: 40px;
	width: 40px;
	z-index: 5000;
}
.title-slider {
	margin: 25px 0 15px 0;
	vertical-align: middle;
	position: relative;
	

}
.tit {
	background: #fff;
    display: inline-block;
    margin: 0 !important;
    max-width: 90%;
    padding-right: 30px;
    position: relative;
    text-decoration: none;
    z-index: 2;
    color: #333;
    font-weight: bold;
}

#modal1 {
      z-index: 100!important;
}

.lean-overlay {
  z-index: 99!important;
}
.modal {
	width: 70% !important;
	max-height: 80% !important;
}
i {margin-left: -4px;}
i.zoom-out {margin-left: 0px;}

.close {margin-top: 0px !important;
width: 80px !important;}

.port-item-cont {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
	z-index: 50;
	text-align: center;
	padding-top: 70px;
	opacity: 0;
	transition: all .25s;
}
.port-item-cont:hover {
	opacity: 1;
}

.port {
	height: 40px;
	width: 40px;
	padding: 8px;
	background-image: linear-gradient(to bottom,#1cb9ed,#0e7cdd);
	border:0px;
	color: #ffffff;
	text-align: center;
	display: inline-block;
    z-index: 2;
    margin: 8px;
    position: relative;
}